@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  border: none;
}

body::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme:dark) {
  body {
    color: #fff;
    background-color: #101010;

    header {
      background-color: #171717;
      color: #fff;

      & .header-row {
        & ul {
          & li {
            & a {
              font-size: 20px;
              color: #fff;
            }
          }
        }
      }
    }

    .top-detail {

      .row {

        h2 {
          color: #fff;
        }

        p {
          color: #fff;
        }

        .bottom-txt {
          color: #ffffffd6;
        }
      }
    }

    .battles {
      .battles-detail {
        border-bottom: 1px solid #ffffff3b;
      }
    }

    .mobile-menu {
      background-color: #252424;
    }
  }
}

@keyframes Image {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes moveUp {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 30px;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: hsla(0, 0%, 100%, .4);
  backdrop-filter: blur(5px);

  &::after {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 0.04);
  }

  .header-row {
    align-items: center;
    justify-content: space-between;
    display: flex;

    img {
      height: 65px;
      width: 65px;
      object-fit: cover;
      border-radius: 50%;
      display: block;
    }

    ul {
      display: flex;
      gap: 13px;

      li {
        a {
          font-size: 20px;
          color: #000;
          transition: 500ms all;
          padding: 6px 14px;

          &.active {
            background-color: red;
            color: #fff;
            border-radius: 100px;
          }
        }
      }
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.arrow {
  a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    animation: moveUp 2s ease-in-out infinite alternate;

    svg {
      width: 34px;
      height: 34px;
      fill: #000;
    }
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.hero {
  .hero-row {
    display: flex;
    align-items: center;
    gap: 100px;

    img {
      width: 400px;
      height: 600px;
      object-fit: cover;
      border-radius: 50px;
    }

    h1 {
      font-size: 55px;
      color: #fff;
      margin-bottom: 5px;
    }

    p {
      font-size: 30px;
      color: #fff;
    }

    .bottom-txt {
      font-size: 19px;
      line-height: 30px;
      margin-top: 15px;
    }
  }
}

.cards-area {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 100px;
  }

  .text {
    padding-top: 90px;
    color: #fff;
    max-width: 610px;
    font-size: 22px;
    text-align: center;
  }
}

.cards {
  padding-top: 70px;
  display: flex;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    li {
      text-align: center;
      border-radius: 11px;
      transition: 300ms all;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 300px;
        height: 450px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 10px;
      }

      a {
        margin-top: 10px;
        color: #fff;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        font-weight: 500;
      }
    }
  }
}

.top-detail {
  padding-top: 60px;
  padding-bottom: 70px;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    h2 {
      font-size: 40px;
      color: #000;
      margin-bottom: 10px;
    }

    p {
      color: #000;
      font-size: 20px;
    }

    .bottom-txt {
      padding-top: 10px;
      font-size: 16px;
      line-height: 27px;
    }
  }

  .img-row {
    gap: 10px;
    display: flex;

    div {
      overflow: hidden;
      height: fit-content;
      border-radius: 10px;
      width: 260px;
      height: 500px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 400ms all;
        animation: Image 10s ease-in-out infinite alternate;
      }
    }
  }
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  position: relative;
  margin: 0px auto 30px;
  padding-bottom: 10px;

  &::after {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    height: 3px;
    background: red;
  }
}

.battles {
  padding-bottom: 20px;

  .battles-detail {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;

    .img-area {
      height: 300px;
      width: 500px;
      object-fit: cover;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 22px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: Image 10s ease-in-out infinite alternate;
      }
    }

    p {
      font-size: 19px;
      line-height: 32px;
      padding-bottom: 20px;
      font-family: "Nunito Sans", sans-serif;

      &:last-child {
        padding-bottom: 13px;
      }
    }
  }
}

.books-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
  place-items: center;
  text-align: center;
  padding-bottom: 40px;

  li {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 100%;
    height: 340px;
    border-radius: 10px;
    position: relative;
    padding: 5px;

    &:hover h4 {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      display: block;
    }

    h4 {
      transition: 400ms all;
      opacity: 0;
      visibility: hidden;
      font-size: 21px;
      font-weight: 400;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      background-color: hsla(0, 0%, 100%, .4);
      backdrop-filter: blur(3px);
      transform: scale(0);
    }
  }
}

.footer {
  background: rgb(174, 2, 2);
  padding: 4px 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.up-btn {
  position: fixed;
  right: 20px;
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
  padding: 10px;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 400ms all;
  bottom: 50px;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &.active {
    visibility: visible;
    bottom: 70px;
    opacity: 1;
  }

  svg {
    fill: #fff;
  }
}

.mobile-menu {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
  width: 340px;
  border-radius: 50px;
  background: #000;
  display: none;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      width: 100%;
      text-align: center;

      a {
        padding: 10px 0px;
        text-align: center;
        border-radius: 50px;
        width: 100%;
        justify-content: center;
        color: #fff;
        display: flex;
        font-size: 18px;
        transition: 400ms all;

        &.active {
          background-color: red;
          color: #fff;
        }
      }
    }
  }
}

/* Responsive */

@media only screen and (max-width:992px) {
  .top-detail {

    .row {
      flex-direction: column;
      text-align: center;
    }

    .img-row {

      div {
        width: 200px;
        height: 400px;
      }
    }
  }

  .books-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    li {
      width: 100%;
      height: 380px;
    }
  }

  .hero {
    & .hero-row {
      flex-direction: column;
      text-align: center;
      gap: 24px;

      & img {
        height: 400px;
        width: 300px;
      }

      & h1 {
        font-size: 35px;
      }

      & p {
        font-size: 25px;
      }

      & .bottom-txt {
        font-size: 17px;
      }
    }
  }

  .cards-area {
    padding-top: 50px;

    img {
      height: 90px;
    }
  }

  .cards {
    padding-top: 70px;
    display: flex;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 35px;
    }
  }
}

@media only screen and (max-width:768px) {
  .books-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width:678px) {

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .books-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 20px;

    li {
      height: 490px;
    }
  }

  .container {
    padding: 0 15px;
  }

  .hero {
    .hero-row {
      flex-direction: column;
      text-align: center;
      gap: 24px;

      img {
        height: 340px;
        width: 240px;
      }

      h1 {
        font-size: 28px;
      }

      p {
        font-size: 21px;
      }

      .bottom-txt {
        font-size: 14px;
        line-height: 25px;
      }
    }
  }

  .cards-area {
    padding-top: 50px;

    .text {
      padding: 25px 10px 0;
      font-size: 17px;
    }

    img {
      height: 60px;
    }
  }

  .cards {
    padding-top: 30px;

    ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;

      li {
        a {
          font-size: 25px;
        }

        img {
          height: 350px;
          width: 320px;
        }
      }
    }
  }
}

@media only screen and (max-width:578px) {

  body {
    padding-bottom: 30px;
  }

  header {
    position: relative;

    .header-row {
      justify-content: center;

      ul {
        display: none;
      }
    }
  }

  .mobile-menu {
    display: block;
  }

  .battles {
    .battles-detail {
      .img-area {
        height: 220px;
        width: 100%;
      }

      p {
        font-size: 16px;
        padding-bottom: 13px;
      }
    }
  }

  .books-list {
    grid-template-columns: repeat(2, 1fr);

    li {
      height: 290px;

      h4 {
        font-size: 14px;
      }
    }
  }

  .top-detail {
    padding-top: 20px;
    padding-bottom: 40px;

    .row {
      gap: 20px;

      .img-row {
        div {
          width: 150px;
          height: 200px;
        }
      }

      h2 {
        font-size: 23px;
      }

      p {
        font-size: 16px;
      }

      .bottom-txt {
        font-size: 14px;
        line-height: 23px;
      }
    }

    .img-row {
      gap: 12px;
      display: flex;

      div {
        width: 160px !important;
      }
    }
  }
}