@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  border: none;
}

body::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.arrow {
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  animation: moveUp 2s ease-in-out infinite alternate;
}

.arrow {
  & svg {
    width: 34px;
    height: 34px;
    fill: #000;
  }
}

@keyframes moveUp {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 30px;
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

.video {
  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero {
  & .hero-row {
    display: flex;
    align-items: center;
    gap: 100px;

    & img {
      width: 400px;
      height: 600px;
      object-fit: cover;
      border-radius: 50px;
    }

    & h1 {
      font-size: 55px;
      color: #fff;
      margin-bottom: 5px;
    }

    & p {
      font-size: 30px;
      color: #fff;
    }

    & .bottom-txt {
      font-size: 19px;
      line-height: 30px;
      margin-top: 15px;
    }
  }
}

.cards {
  display: flex;
}

.cards-area {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & img {
    height: 100px;
  }

  .text {
    padding-top: 90px;
    color: #fff;
    max-width: 610px;
    font-size: 22px;
    text-align: center;
  }
}

.cards {
  padding-top: 70px;
}

.cards {
  & ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    & li {
      text-align: center;
      border-radius: 11px;
      transition: 300ms all;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      & img {
        width: 300px;
        height: 450px;
        border-radius: 50px;
        object-fit: cover;
        margin-bottom: 10px;
      }

      & a {
        margin-top: 10px;
        color: #fff;
        font-size: 30px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

header {
  padding: 10px 0;

  &::after {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 102px;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 0.04);
  }

  & .header-row {
    align-items: center;
    justify-content: space-between;
    display: flex;

    & img {
      height: 80px;
      width: 80px;
      object-fit: cover;
      border-radius: 50%;
      display: block;
    }

    & ul {
      display: flex;
      gap: 30px;

      & li {
        & a {
          font-size: 20px;
          color: #000;

          &.active {
            background-color: red;
            color: #fff;
            padding: 6px 14px;
            border-radius: 100px;
          }
        }
      }
    }
  }
}

@keyframes Image {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.top-detail {
  padding-top: 60px;

  & .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    & h2 {
      font-size: 40px;
      color: #000;
      margin-bottom: 10px;
    }

    & p {
      color: #000;
      font-size: 20px;
    }

    & .bottom-txt {
      padding-top: 10px;
      font-size: 16px;
      line-height: 27px;
    }
  }

  & .img-row {
    gap: 10px;
    display: flex;

    & div {
      overflow: hidden;
      height: fit-content;
      border-radius: 10px;
      width: 260px;
      height: 500px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 400ms all;
        animation: Image 10s ease-in-out infinite alternate;
      }
    }
  }
}

.battles {
  padding: 100px 0 30px;

  & .title {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    position: relative;
    width: max-content;
    margin: 0 auto 30px;
    padding-bottom: 10px;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    &::after {
      width: 100px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      height: 3px;
      background: red;
    }
  }

  & .battles-detail {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;

    &:last-child {
      border-bottom: none;
    }

    & img {
      height: 300px;
      width: 500px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    & p {
      font-size: 19px;
      line-height: 32px;
    }
  }
}